gris_oscuro = #444
girs_claro =  lighten(gris_oscuro, 40%)
	

header

	background-color red
	color white
	padding 1em


	.logo
		img 
			border-radius 50%			
			height 160px
			width 160px

@media screen and (min-width: 768px)
	header
		background-color blue

		.logo
			img
				border 1px dashed invert(gris_oscuro)
				height 60px
				width 60px

@media screen and (min-width: 768px)
	body
		background-color yellow



 