header {
  background-color: #f00;
  color: #fff;
  padding: 1em;
}
header .logo img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}
@media screen and (min-width: 768px) {
  header {
    background-color: #00f;
  }
  header .logo img {
    border: 1px dashed #bbb;
    height: 60px;
    width: 60px;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #ff0;
  }
}
